---
layout: default
---

<div class="events">
	<h1 class="events__title">Upcoming Events:</h1>
	<div class="events__list">
		{% for event in site.posts reversed%}
			{% assign currentdate = event.date | date: "%Y" %}
			{% if currentdate != date %}
				{% unless forloop.first %}</ul>{% endunless %}
				<h1>{{ currentdate }}</h1>
				<ul>
				{% assign date = currentdate %}
			{% endif %}
				<li>
					<span class="date">{{ event.date | date: '%a, %b %d' }}: </span> <a href="{{ event.url }}">{{ event.title }}</a>
				</li>
			{% if forloop.last %}</ul>{% endif %}
		{% endfor %}
	</div>
</div>

<div class="projects">
	<h1 class="projects__title">Our Projects:</h1>
	<ul class="projects__list">
        {% for project in site.data.projects %}
        <li>
            <a href="{{ project.url }}">{{ project.title }}</a>
            <p>{{ project.description }}</p>
        </li>
        {% endfor %}
    </ul>
</div>

<script type="text/javascript">
	console.log('UNLIMITED POWAHHHH');
</script>
